
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model KhaKhau.Areas.Admin.Models.Category
<h2>Xóa danh mục</h2>
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <p>Bạn có chắc chắn muốn xóa @Model.Name? và những món ăn liên quan không</p>
    <button type="submit" class="btn btn-danger">Xóa</button>
<<<<<<< HEAD
<<<<<<< HEAD
    <a asp-action="Index" class="btn btn-secondary">Trở về</a>

=======
>>>>>>> 4d0ce4fb991be6139ebcc89e27fc47f2caf3d4dc
=======
>>>>>>> 4d0ce4fb991be6139ebcc89e27fc47f2caf3d4dc
</form>

