@model KhaKhau.Areas.Admin.Models.Category
@using Microsoft.AspNetCore.Mvc.Rendering

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Chỉnh sửa</h1>
<hr />
<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

</form>


